@media screen and (max-width:540px){
  .Login_page{
    width: 100%;
    padding-top: 2%;
    height: auto;
  }

  .Login_form{
    width: 70%;
  }

  .Home{
    padding: 25px;
  }

  .Mail{
    height: 250px;
  }

  .Button_left, .Button_right{
    width: 100%;
    display: inline-block;
  }

  .New_user_form .Button_left, .New_user_form .Button_right{
    width: 100%;
    display: inline-block;
  }

}
