@media screen and (max-width:540px){
  .login_page{
    width: 100%;
    padding-top: 2%;
    height: auto;
  }

  .login_form{
    width: 70%;
  }

  .Home{
    padding: 25px;
  }

  .Mail{
    height: 250px;
  }

  .Button_left{
    width: 100%;
    display: inline-block;
  }

  .Button_right{
    width: 100%;
    display: inline-block;
  }
}
