@media screen and (max-width:540px){
  .Login_page{
    width: 100%;
    padding-top: 2%;
    height: auto;
  }

  .Home_div{
    font-size: 16px;
  }

  .Home{
    padding: 25px;
  }

  .New_user_form{
    width: 100%;
  }

  .Profile_div{
    width: 100%
  }

  .Mail{
    height: 250px;
  }

  .Button_left, .Button_right{
    width: 100%;
    display: inline-block;
  }

  .New_user_form .Button_left, .New_user_form .Button_right{
    width: 100%;
    display: inline-block;
  }

  .Profile_div .Button_left, .Profile_div .Button_right{
    width: 100%;
    display: inline-block;
  }

}
