@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* Login Style */

.loginPage{
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.loginform{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 0px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.imgcontainer{
  text-align: center;
  margin: 0px 0 12px 0;
}

img.avatar{
  width: 90%;
  margin-bottom: 24px;
  border-radius: 50%;
}

.loginform button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2196F3;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  cursor: pointer;
}

.loginform button:hover{
  background: #42A5F5;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.loginform input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-bottom: 1px solid #BDBDBD;
  box-sizing: border-box;
  font-size: 14px;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 15px;
	position: absolute;
	background: #2196F3;
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Homepage Style */

.HomeDiv{
  width: 960px;
  padding: 6% 0 0;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
}

.home{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 960px;
  margin: 0 auto 0px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.content{
  padding-top: 10px;
  padding-bottom: 30px;
}

/** Homepage menu style **/

.LogoutButton{
  width: 20%;
  display: inline-block;
}

.NavButton{
  transition: width 0.5s ease-in-out;
}

a{
  text-decoration: none;
  color: #2196F3;
}

nav ul{
  overflow: hidden;
  padding: 30px;
  margin: 0;
  text-align: center;
  transition: max-height 0.3s ease;
}

nav ul li{
  display: inline-block;
  padding: 14px;
  transition: background 0.5s ease;
}

nav ul li:hover{
  background: #f2f2f2;
}

.DropMenu{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #2196F3;
  cursor: pointer;
  padding: 15px 10px;
  margin-top: 5px;
  display: none;
  transition: background 0.5s ease;
}

.DropMenu img{
  float: right;
  margin-top: -3px;
}

/* Homepage input style */

.home input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-bottom: 2px solid #BDBDBD;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.HomeDiv button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 0;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #2196F3;
  font-size: 14px;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  cursor: pointer;
}

.HomeDiv button:hover{
  background: #f2f2f2;
}

/* Mailpage Style */

.mail{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: white;
  width: 100%;
  height: 400px;
  border: 0;
  padding: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 14px;
  resize: none;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  transition: height 0.5s ease-in-out;
}

.ButtonLeft{
  width: 20%;
  display: inline-block;
  transition: width 0.5s ease-in-out;
}

.ButtonRight{
  width: 20%;
  display: inline-block;
  float: right;
  transition: width 0.5s ease-in-out;
}

.ButtonRight span{
  transition: padding 0.5s;
}

.ButtonRight i{
  vertical-align: middle;
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 3px;
  transition: 0.3s;
}

.ButtonRight:hover i{
  padding-left: 15px;
}

.ButtonLeft button{
  width: 100%;
  padding: 18px;
}

.ButtonRight button{
  width: 100%;
}

/* Main */

body {
  font-family: "Roboto", sans-serif;
}

/* TESTING AREA */

/*
