@media screen and (max-width:1060px){
  .Home_div{
    width: 100%;
  }

  .Home{
    display: table-cell;
  }

  .Log_div{
    width: 100%;
  }

  .Activity_div{
    width: 100%;
  }

  .Content{
    padding: 0;
  }

  .Side{
    margin-bottom: 15px;
  }

  .Mail{
    height: 400px;
  }

  .Button_left{
    width: 30%;
    display: inline-block;
  }

  .Button_right{
    width: 30%;
    display: inline-block;
    float: right;
  }

  .Showing{
    max-height: 30em;
  }

  nav ul{
    padding: 0;
    max-height: 0;
  }

  nav ul li{
    padding: 15px;
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
  }

  .Drop_menu{
    display: block;
  }

  /*All user page table style*/

  table, thead, tbody, th, td, tr {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  th{
    display: none;
  }

  tr {
    border-bottom: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
    padding-left: 40%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before { content: "E-mail"; }
  td:nth-of-type(2):before { content: "Naam"; }
  td:nth-of-type(3):before { content: "Adres"; }
  td:nth-of-type(4):before { content: "Postcode"; }
  td:nth-of-type(5):before { content: "Stad"; }
  td:nth-of-type(6):before { content: "Bank informatie"; }
  td:nth-of-type(7):before { content: "Lidmaatschap"; }

  .Log tr td, .Activ tr td{
    padding-left: 40%;
  }

  .Log td:nth-of-type(1):before { content: "Datum"; top: 10px;}
  .Log td:nth-of-type(2):before { content: "Naam"; top: 10px;}
  .Log td:nth-of-type(3):before { content: "Lidmaatschap"; top: 10px;}
  .Log td:nth-of-type(4):before { content: "Check-in/out"; top: 10px;}
  .Log td:nth-of-type(5):before { content: "Locatie"; top: 10px;}

  .Activ td:nth-of-type(1):before { content: "Datum"; top: 10px;}
  .Activ td:nth-of-type(2):before { content: "Tijd (min)"; top: 10px;}
  .Activ td:nth-of-type(3):before { content: "Apparaat"; top: 10px;}
  .Activ td:nth-of-type(4):before { content: "Calorieën"; top: 10px;}

}
